<h1>Editing industries sector</h1>

<%= render "form", industries_sector: @industries_sector %>

<br>

<div>
  <%= link_to "Show this industries sector", @industries_sector %> |
  <%= link_to "Back to industries sectors", industries_sectors_path %>
</div>
